## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num1=1
print(num1)

1

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
num8_5=8.5
print(type(num8_5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(num1))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
mi_nombre="Gonzalo"

5) Crear una constante que contenga el número Pi

In [6]:
PI=3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [8]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [17]:
EULER=2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
op1=True
op2="True"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [13]:
print(type(op1))
print(type(op2))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [14]:
sum1=1+1,2

11) Realizar una operación de suma de un número definido como string con un entero

In [15]:
sum2=num1+2
print(sum2)

3

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [18]:
euler_3=EULER**3
print(euler_3)

20.083723072568

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [22]:
mult1=int(input())
multi2=int(input())
print(mult1*multi2)

4

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [23]:
div=27/4
print(div)

6.75

15) De la división anterior solamente mostrar la parte entera

In [31]:
intdiv=int(div)
print(intdiv)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
div2=27%4
print(div2)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [32]:
print((intdiv*4)+div2)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [34]:
print("2"==2)

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [35]:
print(int("2")==2)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [38]:
# a=float("3,8"))      Tira error de tipo de dato por la coma.
a=float("3.8")           #Al cambiarlo por un punto si lo permite
print(a , "ES" , type(a))

3.8 ES <class 'float'>

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [41]:
#print(10+"10")         #No está permitido porque son dos tipos de datos diferentes
print(10 + int("10"))   #Al ser convertidos a enteros el resultado es 20
print(str(10) + "10")   #Al ser convertidos a cadena el resultado es 1010

20
1010

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [3]:
menu=["""
MENU: 
1-Pizza 
2-Empanadas
3-Milanesas
4-Salir
"""]
print(menu)

['\nMENU: \n1-Pizza \n2-Empanadas\n3-Milanesas\n4-Salir\n']

23) Crear una lista que contenga los números del 1 al 10

In [4]:
num1_10=[1,2,3,4,5,6,7,8,9,10]
print(num1_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [5]:
print(num1_10[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [6]:
num1_10[2]="gonzalo"
print(num1_10)

[1, 2, 'gonzalo', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [18]:
matrix=[["a","b","c"],["d","e","f"],["g","h","i"]]

27) Imprimir la matriz creada en el punto 26

In [19]:
print(matrix)

[['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [20]:
matrix[1][1]="z" 
print(matrix)

[['a', 'b', 'c'], ['d', 'z', 'f'], ['g', 'h', 'i']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [21]:
matrix[0][0]=1
matrix[0][1]=2
matrix[0][2]=3
print(matrix)

[[1, 2, 3], ['d', 'z', 'f'], ['g', 'h', 'i']]

30) Crear una tupla que contenga 5 marcas de ropa

In [23]:
mRop=("nike","asics","puma","reebok","adidas")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [24]:
print(mRop[0])

nike

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [25]:
mRop[1]="kappa"    #Las tuplas no permiten modificaciones

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [29]:
dicc1={"nombre":"Gonzalo","apellidos":"Sanchez","edad":26,"hobbies":["DnD","Computadoras","musica"]}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [34]:
print(dicc1["hobbies"])

['DnD', 'Computadoras', 'musica']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [35]:
dicc1["edad"] = 27
print(dicc1["edad"])

27